<div style="text-align:center">
  <h1>
    Welcome to {{title}}
  </h1>

  <h2>Prices</h2>


<ul>
  <li>
    <label>API KEY</label>
    <input type="text" name="apiKey" />
  </li>
  <li>
    <label>API SECRET</label>
    <input type="text" name="apiSecret" />
  </li>
  <li>
      <button type="submit" (click)="saveKeys()"> Save </button>
  </li>
</ul>


  <div class='table-responsive'>
          <table class='table'
                  *ngIf='prices && prices.length'>
              <thead>
                  <tr>
                      <th>Symbol</th>
                      <th>Price</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor='let price of prices'>
                      <td>{{ price.symbol }}</td>
                      <td>{{ price.price }}</td>
                  </tr>
              </tbody>
          </table>
      </div>
</div>
